body { 
    font-family: sans-serif; 
    background: #f9f9f9;
    margin: 0px;
}

.logDisplay {
    margin: 0px auto;
    padding: 5px;
    width: 90%;
}

.searchBox {
    margin-bottom: 50px;
}

.searchBox input {
    width: 500px;
}

.logEntry {
    border: 1px dotted #333;
    margin: 20 0px;
    padding: 5px;
    width: 95%;
    overflow: auto;
}


.logBox {
    border: 1px solid #333;
    margin: 20 0px;
    padding: 5px;
    width: 75%;
    float: left;
}

.assocPageList {
    float: right;
    width: 20%;
}
